<!--COOKIE MESSAGE-->
<div class="o-cookie-message js-cookie-message">
    <div class="o-container">
        <div class="c-cookie-message">
            cookie message
        </div>
    </div>
</div>
<!--end COOKIE MESSAGE--> 