<!--HERO SECTION-->
<section class="o-hero js-hero">
    <div class="o-container">
        <div class="c-hero">
            <h1 class="c-hero__title">{{ hero_title or 'Default Title' }}</h1>
            {% if hero_subtitle %}
            <p class="c-hero__subtitle">{{ hero_subtitle }}</p>
            {% endif %}
            {% if hero_button_text %}
            <div class="c-hero__button">
                {% from "components/button.njk" import button %}
                {{ button(hero_button_url or '#', hero_button_text, "link") }}
            </div>
            {% endif %}
        </div>
    </div>
</section>
<!--end HERO SECTION--> 