<!--MOBILE NAVIGATION-->
<nav class="o-mobile-navigation js-mobile-navigation">
    <div class="o-container">
        <div class="c-mobile-navigation">
            mobile navigation
        </div>
    </div>
</nav>
<!--end MOBILE NAVIGATION--> 