<!--NAVIGATION-->
<nav class="o-navigation js-navigation">
    <div class="o-container">
        <div class="c-navigation">
            navigation
        </div>
    </div>
</nav>
<!--end NAVIGATION--> 